/* Overall styles */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

/* Style for the toolbar */
.toolbar {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

/* Style for the toolbar links */
.toolbar a {
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
}

/* Style for the sidebar */
.sidebar {
	background-color: #f2f2f2;
	border-right: 1px solid #ccc;
	height: 100%;
	overflow: auto;
	position: fixed;
	width: 200px;
}

/* Style for the sidebar links */
.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #333;
}

.sidebar a:hover {
	background-color: #ccc;
}

/* Style for the main content */
.main-content {
	margin-left: 200px;
	padding: 10px;
}

/* Style for the background image */
.background-image {
	background-image: url(background.jpg);
	background-position: center;
	background-size: cover;
	height: calc(100vh - 60px); /* subtract the height of the toolbar */
	display: flex;
	align-items: center;
	justify-content: center;
	color: darkblue;
	text-align: center;
}

.h1 {
    font-size: 100px;
}
.h2 {
    font-size: 50px;
}
.h3 {
    font-size: 25px;
}

/* Style for the footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }
  
  .footer-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

    
/* Media queries */
@media screen and (max-width: 768px) {
    .sidebar {
        position: static;
        width: auto;
        border-right: none;
    }
    .main-content {
        margin-left: 0;
    }
    .footer-section {
        width: 100%;
      }
}
    
@media screen and (max-width: 480px) {
    .toolbar {
        flex-direction: column;
    }
    .left-links {
        margin-bottom: 10px;
    }
    .right-links {
        margin-top: 10px;
    }
}